.containerLog{
    width: 100vw;
    height: 100%;
    margin: 0;
    background-color: #d4d4d4;
}

body{
    height: 100%;
}

.header{
    background-color: #423f52;
    color: white;
    position: absolute;
    top: 0;
    height: 4rem;
    border-radius: 0 0 10% 10%;
    width: 100vw;
    text-align: center;
    z-index: 2;
}

.header h1{
    font-size: 1.5rem;
    align-items: center;
}

.sideMenu{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgb(63, 63, 63);
    width: 10rem;
    height: 100%;
}

.sideMenu ul{
    display: grid;
    gap: 1.5rem;
    text-align: center;
    margin-right: 1.5rem;
    margin-left: -1rem;
    margin-top: 5rem;
    list-style: none;
    color: white;
}

.sideMenu ul li a{
    color: white;
    text-decoration: none;
}

.imageMainMenu{
    position: absolute;
    z-index: 0;
    opacity: 0.4;
}

.ListaBoletins{
    opacity: 100%;
    z-index: 4;
    margin: auto;
    list-style: none;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    height: auto;
    width: auto;
    margin-top: 5%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #444;
  }

  th {
    background-color: #333;
  }

  tr:nth-child(even) {
    background-color: #444;
    color: white;
  }