.container{
  width: 100vw;
  height: 120vh;
  margin: 0;
  background-color: black;
}

.registerFIeld{
  width: 60%;
  font-size: 1rem;
  padding: 2px;
  margin: 0.2rem  0.2rem  0.2rem  0.2rem;

}

.register-form{
  font-size: 1.2rem;;
  width: 65%;
  border: 1px solid black;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  height: 89%;
  border-radius: 2rem;
  background-color: rgba(236, 236, 236, 0.349);
  color: black;
}
h1{
  font-size: 0.75rem;;
}

.register-form a{
  color: black;
  font-style: italic;
}

.reg-image{
  width: 100%;
  height: auto
}

.userIcontxt_reg{
  margin-bottom: -3rem;
  height: 5rem;;
  width: 5rem;
}