


.body-reg{
  width: 100vw;
    background-color: rgb(209, 209, 209);
    padding: 1rem;
}
.registerFIeld{
  align-items: center;
  width: 100%;
  font-size: 1rem;
  padding: 4px;
}

h1{
  font-size: 0.75rem;;
}

.return-reg{
  color: black;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.container-reg{
  align-items: center;
  width: 60%;
  background-color: #fff;
  padding: 20px;
  margin: auto;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}