.porfile-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f4;
    height: 100vh;
    width: 100vw;
  }

  .porfile-sp{
    color: black;
  }
  
  .porfile-container {
    width: 60%;
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .porfile-a {
    text-decoration: none;
    color: #333;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1.5rem;
  }
  
  .porfile-h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .porfile-h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .porfile-button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff3333;
    color: white;
    font-size: 1.4rem;
    margin-left: 2rem;
    cursor: pointer;
  }

  .editLinkP{
    font-size: 1.2rem;
  }
  
  .porfile-button:hover {
    background-color: #cc0000;
  }