.App {
    text-align: center;
    width: 100vw;
    height: 55vh;
    margin-top: -12rem;
    background-color: rgba(255, 255, 255, 0.829);
    border-radius:0 0 5rem 5rem;
    display: grid;
  }

  .textBox1{
    
    width: 75%;
    align-items: center;
    margin: 0 auto;
    margin-top: -5rem;
  }

  img{
    height: 100%;
    width: 100%;
    margin: 0;
    margin-right: 0;
    z-index: -1;
  }

  .container{
    display: flex;
  }
  
  .userIcontxt{
    margin-top: 1.3rem;
    margin-left: -9px;
  }
  
  
  .App-header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: #000;
    position: fixed;
    width: 100%;
    top: 0;
  }

  .headerItens{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  .buttons{
    margin-top: 1.3rem;
  }



  .buttonR{
    padding: 0.5rem;
    border-radius: 0.7rem;
    background-color: #374147;
    text-decoration: none;
    color: white;
    transition: .5s;
    margin-right: 1.5rem;
    &:hover{
      color: black;
      background-color: #7b919e;
    }
  }

  .buttonL{
    padding: 0.5rem;
    border-radius: 0.7rem;
    background-color: #004977;
    text-decoration: none;
    color: white;
    transition: .5s;
    &:hover{
      color: black;
      background-color: #036eac;
    }
  }
  
  
  

  .title{
    width: 14rem;
    height: 2.125rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: Kiwi Maru;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    margin-top: -0.5rem;
    }