.container {
    display: flex;
    height: 100%;
  }
  
  .image-container {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: #f1f1f1;
    z-index: 2;
  }

  .return{
    margin-left: 2rem;
    margin-top: -35.5rem;
    font-size: 2rem;
    color: white;
  }
  
  .image {
    max-width: 50%;
    max-height: 100%;
    opacity: 100%;
    margin-right: 49.61%;
    margin-top: 3rem;
    border-radius: 2%;
    border-color: rgb(186, 3, 202);
    border: 2px solid;    
  }
  
  .data-container {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    overflow-y: auto;
  }
  
  .select-label {
    margin-bottom: 10px;
  }
  
  .select-dropdown {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .button-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .caixaTextoFaces{
    width: 43rem;
    height: 10rem;
    background-color: white;
    justify-content: center;
    font-size: 1.1rem;
    position: absolute;
    left: 0;
    margin-left: 1.8%;
    margin-top: 35rem;
    padding: 1rem;
    border: solid rgb(196, 1, 179) 1px;
    border-radius: 5px;
    box-shadow: rgb(196, 1, 179) 3px 5px 4px;
}

.caixaTextoFaces span{
    font-size: 3rem;
    color: red;
}
