.containerBol{
    align-items: center;
    background-color:#fff;
}

.sideMenuBol{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(63, 63, 63);
    width: 10rem;
    height: 100svh;
}

.sideMenuBol ul{
    display: grid;
    gap: 1.5rem;
    text-align: center;
    margin-right: 1.5rem;
    margin-left: -1rem;
    margin-top: 5rem;
    list-style: none;
    color: white;
}

.sideMenuBol ul li a{
    color: white;
    text-decoration: none;
}

.boletimOpt{
    margin-left: 10rem;
    list-style: none;
    color: black;
}

.LinkBol{
    font-size: 1.4rem;
}

.caixaTexto{
    width: 70%;
    height: 7rem;
    justify-content: center;
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: 11rem;
    padding: 1rem;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: black 1px 1px 3px;
}

ul{
    display: grid;
    gap: 1rem;
}
.linkButton{
    width: 80%;
    box-shadow: black 1px 1px 3px;
    padding: 1rem;
    color: black;
}

.linkButton h1{
    font-size: 2rem;
}